{% extends 'base.html' %}
{% load static %}
{% block content %}
     <section class="no-mb relative-positioned">
        <!--
        *** JUMBOTRON ***
        _________________________________________________________
        -->
        <div style="background: url('/static/img/photogrid.jpg') center center repeat; background-size: cover;" class="jumbotron relative-positioned color-white text-md-center">
          <div class="dark-mask mask-primary"></div>
          <div class="container">
            <div class="row mb-small">
              <div class="col-md-12 text-center">
                <h1 class="text-uppercase">PhantomSEC is great</h1>
                <h2 class="text-uppercase">Last week more than 100 companies signed up to help them in their projects.</h2>
              </div>
            </div>

          </div>
        </div>
        <!-- *** JUMBOTRON END ***-->
      </section>


{% endblock %}